@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");
body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
}

.sw-wrapper {
  width: 60vw;
  height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media screen and (max-width: 996px) {
  .sw-wrapper {
    width: 100%;
    padding: 0px 10px;
  }
}

.sw-wrapper::-webkit-scrollbar {
  width: 10px;
}

.sw-wrapper::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.sw-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.sw-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sw-content {
  text-align: center;
}

.sw-card {
  display: table;
  background: rgba(35, 35, 35, 0.8);
  color: orange;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

@media screen and (max-width: 766px) {
  .sw-card {
    width: 100%;
  }
}

.sw-card h2 {
  text-align: center;
}

.sw-card-title {
  text-align: right;
  padding: 10px;
  font-weight: 100;
}

@media screen and (max-width: 991px) {
  .sw-card-title {
    text-align: center;
  }
}

.sw-card-info {
  font-weight: 500;
  padding: 10px;
  word-break: break-word;
}

@media screen and (max-width: 991px) {
  .sw-card-info {
    text-align: center;
  }
}

.row {
  width: 100%;
}

@media (max-width: 575px) {
  .col-xs-1 {
    width: 8.33333%;
    float: left;
  }
  .col-xs-2 {
    width: 16.66667%;
    float: left;
  }
  .col-xs-3 {
    width: 25%;
    float: left;
  }
  .col-xs-4 {
    width: 33.33333%;
    float: left;
  }
  .col-xs-5 {
    width: 41.66667%;
    float: left;
  }
  .col-xs-6 {
    width: 50%;
    float: left;
  }
  .col-xs-7 {
    width: 58.33333%;
    float: left;
  }
  .col-xs-8 {
    width: 66.66667%;
    float: left;
  }
  .col-xs-9 {
    width: 75%;
    float: left;
  }
  .col-xs-10 {
    width: 83.33333%;
    float: left;
  }
  .col-xs-11 {
    width: 91.66667%;
    float: left;
  }
  .col-xs-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
  }
  .col-sm-2 {
    width: 16.66667%;
    float: left;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
  }
  .col-sm-4 {
    width: 33.33333%;
    float: left;
  }
  .col-sm-5 {
    width: 41.66667%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .col-sm-7 {
    width: 58.33333%;
    float: left;
  }
  .col-sm-8 {
    width: 66.66667%;
    float: left;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
  }
  .col-sm-10 {
    width: 83.33333%;
    float: left;
  }
  .col-sm-11 {
    width: 91.66667%;
    float: left;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
    float: left;
  }
  .col-md-2 {
    width: 16.66667%;
    float: left;
  }
  .col-md-3 {
    width: 25%;
    float: left;
  }
  .col-md-4 {
    width: 33.33333%;
    float: left;
  }
  .col-md-5 {
    width: 41.66667%;
    float: left;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-7 {
    width: 58.33333%;
    float: left;
  }
  .col-md-8 {
    width: 66.66667%;
    float: left;
  }
  .col-md-9 {
    width: 75%;
    float: left;
  }
  .col-md-10 {
    width: 83.33333%;
    float: left;
  }
  .col-md-11 {
    width: 91.66667%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
  }
  .col-lg-2 {
    width: 16.66667%;
    float: left;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
  }
  .col-lg-4 {
    width: 33.33333%;
    float: left;
  }
  .col-lg-5 {
    width: 41.66667%;
    float: left;
  }
  .col-lg-6 {
    width: 50%;
    float: left;
  }
  .col-lg-7 {
    width: 58.33333%;
    float: left;
  }
  .col-lg-8 {
    width: 66.66667%;
    float: left;
  }
  .col-lg-9 {
    width: 75%;
    float: left;
  }
  .col-lg-10 {
    width: 83.33333%;
    float: left;
  }
  .col-lg-11 {
    width: 91.66667%;
    float: left;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
    float: left;
  }
  .col-xl-2 {
    width: 16.66667%;
    float: left;
  }
  .col-xl-3 {
    width: 25%;
    float: left;
  }
  .col-xl-4 {
    width: 33.33333%;
    float: left;
  }
  .col-xl-5 {
    width: 41.66667%;
    float: left;
  }
  .col-xl-6 {
    width: 50%;
    float: left;
  }
  .col-xl-7 {
    width: 58.33333%;
    float: left;
  }
  .col-xl-8 {
    width: 66.66667%;
    float: left;
  }
  .col-xl-9 {
    width: 75%;
    float: left;
  }
  .col-xl-10 {
    width: 83.33333%;
    float: left;
  }
  .col-xl-11 {
    width: 91.66667%;
    float: left;
  }
  .col-xl-12 {
    width: 100%;
    float: left;
  }
}

.sw-loader {
  text-align: center;
  font-size: 30px;
  color: orange;
  display: none;
}

.sw-loader--active {
  display: block;
}

.sw-form {
  background: white;
  -webkit-box-shadow: 2px 2px 50px rgba(255, 186, 107, 0.5);
          box-shadow: 2px 2px 50px rgba(255, 186, 107, 0.5);
  width: auto;
  height: auto;
  min-width: 500px;
  padding: 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: inherit;
  position: absolute;
  display: none;
  border-radius: 5px;
  border: 3px solid orange;
}

@media screen and (max-width: 766px) {
  .sw-form {
    width: 90%;
    min-width: unset;
    padding: 5px;
  }
}

.sw-form--active {
  display: block;
}

.sw-form form {
  text-align: center;
}

.sw-form form label {
  color: black;
  margin: 5px auto;
}

.sw-form form input {
  height: 30px;
  border: 1px solid orange;
  color: black;
  text-align: center;
  margin: 5px auto;
  width: 100%;
}

.sw-form form input[type="submit"] {
  height: unset !important;
}

.sw-btn {
  border: 0;
  background: orange;
  margin: 20px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

.sw-btn-close {
  border: 0;
  background: #330086;
  color: white;
  margin: 10px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  min-width: 150px;
}
