@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap');

body{
  background: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:10px;
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
}